@import '../../../../scss/abstract';

$themes: (
	light: (
		editorPreview-txt: cv(light-foreground),
	),
	dark: (
		editorPreview-txt: cv(dark-foreground),
	),
);

.editorPreview {
	box-sizing: border-box;
	padding: $spacer-tiny;
	min-height: 100%;

	@include themify($themes) {
		color: themed('editorPreview-txt');
	}
}

.cmTheme-fadeRepeats {
	.cmLine--isFromAutoRepeatChords,
	.cmLine--isFromChordLineRepeater,
	.cmLine--isFromSectionCopy,
	.cmLine--isFromSectionMultiply {
		opacity: 0.5;
	}
}
