@import '../../../../scss/abstract';

$themes: (
	light: (
		logo-txt: cv(light-foreground),
		logo-svg-fill: cv(light-foreground),
	),
	dark: (
		logo-txt: cv(dark-foreground),
		logo-svg-fill: #ffffff,
	),
);

.logo-isExpanded {
	box-sizing: border-box;
	padding: $spacer-small-plus 0 $spacer-small;
	width: 100%;

	.leftBar-isCollapsed & {
		display: none;
	}
}

.logo-img {
	margin: 0 auto;
	width: 70%;
	svg {
		@include themify($themes) {
			fill: themed('logo-svg-fill');
		}
		aspect-ratio: 1.25 / 1;
		width: 80%;
		margin: 5px auto 10px auto;
		display: block;
	}
}
